body{
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

header{
  background-color: #b67b7b;
  position: fixed;
}

header > *{
  display:inline-block;
  text-align: center;
}

header > h1 {
  width: 5%;
}

header > form {
  width: 70%;
}

header >navbar{
  width: 20%;
}

.col {
  float: left;
  justify-content: space-between;
  width: 20%;
  margin: 1em 1em;
}

img {
  border: 1px solid black;
  border-radius: 5%;
  display:inline-block;
  height: 18em;
  width: 100%;
  margin-left: 10%;
}

nav{
  :black;
}
